*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.linhas{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    text-align: center;
}
.red, .blue{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}
.red{
    color: red;
}
.blue{
    color:blue;
}
.casa{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin: 5px;
}
body{
    max-width: 95%;
    margin: 30px auto;
}
#mensagem{
    text-align: center;
    width: 50%;
    margin: 15px auto;
}
#contador{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type='number']{
    width: 40px;
}
input,label{
    margin:15px 10px;
}
#restart{
    padding-left: 5px;
    padding-right: 5px;
}
#placar{
    display: flex;
    justify-content: center;
}
th, td{
    width:100px;
    text-align: center;
    border-bottom: 1px solid black;
}
th{
    border-top: 1px solid black;
}
th:first-child, td:first-child{
    color:red;
    font-weight: 900;
}
th:last-child, td:last-child{
    color:blue;
    font-weight: 900;
}
