*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(22, 22, 22);
    color: white;
}
.linhas{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    text-align: center;
}
.red, .blue{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}
.red{
    color: red;
}
.blue{
    color:blue;
}
.casa{
    width: 50px;
    height: 50px;
    border: 2px solid rgb(80, 79, 79);
    margin: 5px;
    border-radius: 5px 9px ;
}
body{
    max-width: 95%;
    margin: 30px auto;
}
#mensagem{
    text-align: center;
    width: 50%;
    margin: 15px auto;
}
#contador{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type='number']{
    width: 40px;
}
input,label{
    margin:15px 10px;
}
#restart{
    padding-left: 5px;
    padding-right: 5px;
}
#placar{
    display: flex;
    justify-content: center;
}
th, td{
    width:100px;
    text-align: center;
    border-bottom: 1px solid rgb(199, 195, 195);

}
th{
    border-top: 1px solid rgb(192, 191, 191);
}
th:first-child, td:first-child{
    color:red;
    font-weight: 900;
}
th:last-child, td:last-child{
    color:blue;
    font-weight: 900;
}

img{
    width:200px;

}
.modal{
    background-color: rgb(22, 22, 22);
    color: white;
    width: 50%;

    margin: 25px auto;
    z-index: 3;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px 9px;
    overflow: auto;
}
.modal::-webkit-scrollbar-track {
    background-color: rgb(22, 22, 22);
}
.modal::-webkit-scrollbar {
    width: 10px;
    background: white;
}
.modal::-webkit-scrollbar-thumb {
    width: 10px;
    background: white;
    border-radius: 15px;
}
.fade{
    display:flex;
    background-color:rgba(0, 0, 0, 0.329);
    background-size: cover;
    z-index: 2;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;

}
p{
    margin: 20px 0;
}
.imgDireita{
    display: flex;
    justify-content: center;
    margin: 0 40px;
    align-items: center;
}
.imgEsquerda{
    margin: 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}
.imgEsquerda>p{
    margin-left: 15px;
}
.imgEmbaixo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linha{
    align-items: center;
    display: flex;
    justify-content: center;
}
.linha>img{
    margin: 10px;
}
.button{
    background-color: rgb(22, 22, 22);
    border:2px solid white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px 9px;
    font-weight: 600;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.13);
}
.buttondiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.buttondivEsquerda{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}